section.about-section
	h1.about.animated.fadeIn About Me
	.about-container
		img.circle(src="/assets/img/me-circle.jpg")
		.description
			p Marissa Traina is a Front-End Developer living and working in Brooklyn, NY. She has spent the past few years developing front-end solutions, most recently specializing in e-commerce websites. She graduated from University of Rochester with a degree in Optical Engineering. While there, she conducted research in Color Science & has since cultivated a passion for the intersection of art & science.

			ul.call-to-action
				li
					a(href="/assets/marissatraina-resume.pdf", target="_blank") Resume
				li
					a(href="mailto:marissatraina@gmail.com")
						i.fas.fa-envelope.fa-lg
				li
					a(href="https://www.linkedin.com/in/marissa-traina-8a743982/")
						i.fab.fa-linkedin.fa-lg
				li
					a(href="https://github.com/marissatraina")
						i.fab.fa-github.fa-lg