section
  ul.projects
    li.william-vale.animated.fadeIn
      a(href="https://www.thewilliamvale.com")
        img(src="/assets/img/william-vale.png")
    li.gemlok.animated
      a(href="https://www.gemlok.com")
        img(src="/assets/img/gemlok.png")
    li.fibermop.animated
      a(href="https://www.fibermop.com")
        img(src="/assets/img/fibermop.png")
    li.bramour.animated
      a(href="https://www.bramour.com")
        img(src="/assets/img/bramour.png")