footer
	.footer-container
		a(href="/")
			h2.footer-logo M.Traina
		ul.social
			li
				a(href="mailto:marissatraina@gmail.com")
					i.fas.fa-envelope.fa-lg
			li
				a(href="https://www.linkedin.com/in/marissa-traina-8a743982/")
					i.fab.fa-linkedin.fa-lg
			li
				a(href="https://github.com/marissatraina")
					i.fab.fa-github.fa-lg

