header
  .header-position
    h1.name M.Traina
    h2.title Front-End Developer
    ul.learn-more
      li
        a(href="/about/") About
      li
        a(href="/assets/marissatraina-resume.pdf", target="_blank") Resume

    
        
